/* DIDN'T NEED MUCH CSS, GOOGLE MATERAILIZE IS DOPE */
html {
  scroll-behavior: smooth;
}

#profilePic {
  padding: 10px;
}
nav {
  position: fixed-top;
}

#logo {
  padding-left: 20px;
}

#navBarCat {
  padding-right: 20px;
}

p {
  text-indent: 40px;
}
#emailLink {
  color: white;
  background-color: #ed6e73;
}
#gitHubLink {
  color: white;
  background-color: #ed6e73;
}
#linkedinLink {
  color: white;
  background-color: #ed6e73;
}
#LLIC {
  background-color: #ed6e73;
}

#GHIC {
  background-color: #ed6e73;
}
#EMIC {
  background-color: #ed6e73;
}

#instaLink {
  color: white;
}
#twitterLink {
  color: white;
}
#hamburger {
  font-size: 32px;
  margin-top: 33%;
}
/* #send {
  font-size: 16px;
  margin-top: 20%;
  padding-left: 2px;
} */
