html {
  scroll-behavior: smooth;
}

#profilePic {
  padding: 10px;
}
nav {
  position: fixed-top;
}

#logo {
  padding-left: 20px;
}

#navBarCat {
  padding-right: 20px;
}

p {
  text-indent: 40px;
}

/* #p1 {
  padding-right: 25px;
}

#p2 {
  padding-right: 25px;
}

#p3 {
  padding-right: 25px;
} */
#gitHubLink {
  color: white;
  background-color: #ed6e73;
}
#linkedinLink {
  color: white;
  background-color: #ed6e73;
}
#LLIC {
  background-color: #ed6e73;
}

#GHIC {
  background-color: #ed6e73;
}
